@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,400&display=swap');
*{
    margin: 0;
    padding: 0;

}



/*  Nav */

.nav {
    display:flex;
    width: 100%;
    height: 50px;
    top: 0;
    font-family: 'Josefin Sans',sans-serif;
}
.nav-left ,.nav-right{
    flex: 30% ;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.nav-left i {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 5px;
}
.nav-center{
    flex:60%;
   
}
.listTOp{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 13px;
    
}.listTopItem {
    margin-right: 15px;
    color: #444;
    font-weight: 300;
    font-size: 18px
}

.nav-prfl {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.nav-right i {
    color: #444;
    margin-left: 10px;
}


/* header */

.header {
    margin-top: 60px;
    
}
.header-img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    margin-top: 78px;
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #2f2f2f;
}

.header-textSm{
    position: absolute;
    font-size: 15px;
    top: 12%;
    
}
.header-textLg{
    position: absolute;
    font-size: 80px;
    top: 13%;
}

/* home */
.home {
    display: flex;
}

/* sidebar */

.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slidebar-item{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.slidebar-item .topIcon {
   margin-right: 10px;
   font-size: 18px;
}


/* posts */

.posts , .SingleP{
    flex: 9;
}
.post{
    margin: 20px 25px 40px 25px; 
    width: 350px;
}
.fontPost{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 25px;
    margin-top: 15px;
}


/*  */

.SingleP{
    font-family: 'Lora', serif;

}
.singlePostDesc {
    font-size: 18px;
    line-height: 26px;
    color: #2f2f2f;
}
.singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}